/*main structure*/
/*index.html*/
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

.start{
    width: 100%;height: 7%;
    background-color:#5c81a4;
    position: fixed;
    order: 1;
    z-index: 20;
}
.end{
    width: 100%;height:40%;
    background-color:#64baba;
    margin-top:115%;
    margin-bottom: 0;
}

/*partie header*/
#returnHome{
    color: #f3f3f3; font-size: 165%;
    font-weight: bold;
    float: left;
    padding-left: 2%;
    height: 100%;width: 13%;
    padding-top: 0.4%;
}

#headerDivCher{
    height:100%;width: 40%;
    float: left;
    text-align: center;
    position: relative;
}

#headerDivImage{
    height: 100%;width:30%;
    float: right;
    padding-right: 2%;
    position: relative;
}

.container{
    width: 100%;height: 100%;
}

.section{
    width: 100%;
    height: 100%;
}

/*partie main*/
#mainSection{background-color: #75c4c6;}
#divideSection1{background-color: #ecd5d4;}
#divideSection2{background-color: #ffffff;}
.headerImg{height: 90%; width: 14%;float: right;padding-top:2px;position: relative;}

#sectionTextLeft{
    text-align: center;
    height: 40%;width:45%;
    padding-top: 23%;padding-left: 5%;
    float: left;
    color:#948e3b;
}
#sectionTextRight{
    text-align: center;
    height: 40%;width:45%;
    margin-top: 23%;padding-right: 5%;
    float: right;
    color: #5c81a4;
}

#sectionBtnApprend{
    height:10%;width: 30%;margin-top:25%;
    background-color: #948e2b;
    float: right;
    margin-right: 10%;
    color: #ecd5d4;
    font-size: 2em;
    border-radius: 15px;
    outline: medium;
}

#sectionBtnEnsei{
    height: 10%;width: 30%;margin-top:25%;
    background-color: #5c81a4;
    float: left;
    margin-left: 10%;
    color: #f3f3f3;
    font-size: 2em;
    border-radius: 15px;
    outline: medium;
}


#bodyText{
    width: 60%;
    height: 20%;
    color: #f3f3f3;
    font-weight: bold;
    font-size: 3.3em;
    text-align: center;
    padding-top: 10%;
    padding-left: 20%;
    clear: both;

}
#leftPart{
    height: 40%;width: 50%;
    float: left;
}

#rightPart{
    height: 40%;width: 50%;
    float: right;
}

.iconImage{
    width: 60%;height: 60%;
}

#mainBtnApprend{
    height:20%;width: 30%;margin-top:28%;
    background-color:  #f3f3f3;
    float: right;
    margin-right: 10%;
    color: #75c4c6;
    font-size: 2em;
    border-radius: 15px;
    outline: medium;
}
#mainBtnEnsei{
    height: 20%;width: 30%;margin-top:28%;
    background-color:  #f3f3f3;
    float: left;
    margin-left: 10%;
    color: #75c4c6;
    font-size: 2em;
    border-radius: 15px;
    outline: medium;
}
#iconLeft{float: left;}
#iconRight{float: right;}

.headBtn{
    width: 25%;
    height: 80%;
    border-radius: 15px;
    background-color: #5c81a4;
    color: #f3f3f3;
    margin-top:2.5%;
    font-size: 110%;
    border: none;
}

.returnTop{
    width: 10%;height: 10%;
    margin-left: 90%;

}

#returnToTop1{
    width: 100%;height: 100%;
    margin-top: 100%;
}

#returnToTop2{
    width: 100%;height: 100%;
    margin-top: 10%;
}

/*partie profile.html*/
#profileBody{
    width:100%;
    height:70%;
    padding-top:5%;
    text-align: center;
}

#profileBody h1{
    font-size:30px;
    color:#5c81a4;
}

#profileBody p{
    font-size: 20px;
    color: #5c81a4;
    margin-bottom: 0;
}

#profileButtons {
    text-align: center;
    width: 40%;
    height: 80%;
    padding-left: 30%;
    padding-right: 30%;
}

.profileBtn {
    height: 15%;
    width: 90%;
    border: 1px solid #5c81a4;
    border-radius: 15px;
    font-size: 25px;
    outline: medium;
    text-indent: 20px;
    margin-top: 10%;
    color: #5c81a4;
}

.profileBtn:hover {
    background-color: #5c81a4;
    color: #FFFFFF;
}

#inputDescription {
    width: 90%;
    height: 80%;
    font-size: 20px;
}

.profileInput {
    height: 15%;
    width: 90%;
    border: 1px solid #5c81a4;
    border-radius: 15px;
    font-size: 25px;
    outline: medium;
    text-indent: 20px;
    margin-top: 5%;
}

.profileInfo {
    text-align: left;
    margin-left: 5%;
}

/*partie signin.html*/
#mainLogin{
    width: 100%;
    height: 93%;
}

#connexText{
    text-indent: 10%;
    color: #5c81a4;
    font-size: 20px;
    width: 100%;
    height: 15%;
    padding-top: 5%;
}
#connexion{
    text-align: center;
    color: #5c81a4;
    font-size: 20px;
    width: 40%;
    height: 80%;
    padding-left: 30%;
    padding-right: 30%;

}

#toInscription{
    text-decoration: underline;
}
#toMdp{
    text-decoration: underline;
}
.inputCase {
    height: 10%;
    width: 90%;
    border: 1px solid #5c81a4;
    border-radius: 15px;
    font-size: 25px;
    outline: medium;
    text-indent: 20px;
}
#calendar {
    width: 900px;
    margin: 20px auto 10px auto;
}
#btnConnex{
    margin-top: 35px;
    height: 10%;
    width: 90%;
    border: 1px solid #5c81a4;
    border-radius: 15px;
    color: #5c81a4;
    margin-top:40px;
    font-size: 25px;
    outline: medium;
    text-indent: 20px;
}

#btnConnex:hover{
    background-color:#5c81a4 ;
    color: #f3f3f3;
}

/*partie signup.html */
#mainSignup{
    width: 100%;
    height: 70%;
}
#signupText{
    color: #5c81a4;
    font-size: 20px;
    width: 100%;
    height: 9%;
    margin:0;
    padding-top: 5%;
    text-indent: 10%;
}

#createAccount{
    text-align: center;
    color: #5c81a4;
    font-size: 16px;
    width: 40%;
    height: 65%;
    padding-left: 30%;
    padding-right: 30%;

}

#btnCreate{
    margin-top: 35px;
    height: 10%;
    width: 90%;
    border: 1px solid #5c81a4;
    border-radius: 15px;
    color: #5c81a4;
    margin-top:40px;
    font-size: 25px;
    outline: medium;
    text-indent: 20px;

}

#btnCreate:hover{
    background-color:#5c81a4 ;
    color: #f3f3f3;
}


.signupInfo{
    text-align: left;
    margin-left: 5%;
}

#alertEmailVide{
    font-size:10px;
    display: none;
    color: red;
}

#alertEmailNonValid{
    font-size:10px;
    display: none;
    color: red;
}

#alertNameShort{
    font-size:10px;
    display: none;
    color: red;
}

#alertPassLength{
    font-size:10px;
    display: none;
    color: red;
}

#alertCheckPass{
    font-size:10px;
    display: none;
    color: red;
}

/*Partie footer*/
#footerImage{
    height: 98%;
    width: 98%;
}

#footerImgDiv{
    width: 50%;
    height: 100%;
    float: right;
}

#footerText{
    height: 100%;
    width: 50%;
    float: left;
    color: #f3f3f3;
    display: table;
    margin:auto;
}

#innerFooter{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    font-size: 15px;
}

#contactEmail{
    color: #f3f3f3;
}

/*search.html*/

.searchInfo{
    padding-top: 5%;
    width: 100%;
    text-align: left;
    display: inline-block;
    font-size:15px;
    color:#5c81a4;
}


#searchTable{
    width: 60%;
    text-align: left;
    color:#5c81a4;
    margin-left: 20%;
    float: left;
}


#toCalendar{
    color:#5c81a4;
    padding-left: 30px;
    padding-right: 30px;
}

#searchText{
    text-indent: 20%;
}

#nonResultAlert{
    font-size: 30px;
    text-align: center;
    margin-top: 15%;
}

table{
    border-collapse: collapse;
    table-layout:fixed;
    word-break:break-all;
    margin-bottom: 2%;
}

table,tr,th,td{
    border:1px solid #5c81a4;
    word-break: break-word;
    text-indent: 2%;
}

th{
    width: 15%;
}

#nom{
    padding-left: 30px;
    padding-right: 30px;
}

#emailAdress{
    padding-top: 15px;
    padding-bottom: 15px;
}

#selfIntro{
    padding-top: 15px;
    padding-bottom: 15px;
}


/*calendar.html*/
#external-events {
    position: fixed;
    z-index: 2;
    top: 100px;
    left: 100px;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
}

#external-events .fc-event {
    margin: 1em 0;
    cursor: move;
}

#calendar-container {
    position: relative;
    z-index: 1;
    margin-left: 200px;
}