{extend name="common/base" /}

{block name="head"}

<link href='__STATIC__/fullcalendar/packages/core/main.css' rel='stylesheet' />
<link href='__STATIC__/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />
<link href='__STATIC__/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src='__STATIC__/fullcalendar/packages/core/main.js'></script>
<script src='__STATIC__/fullcalendar/packages/daygrid/main.js'></script>
<script src='__STATIC__/fullcalendar/packages/timegrid/main.js'></script>
<script src='__STATIC__/fullcalendar/packages/interaction/main.js'></script>

<script src='__JS__/calendar.js'></script>

{/block}


{block name="container"}
<main class="container">
<br />
<br />
    <div id='external-events'>
        <p>
            <strong>Choisir votre cours</strong>
        </p>
    </div>

    <div id='calendar-container'>
        <div id="calendar"></div>
    </div>
</main>
{/block}
