{extend name="common/base" /}

{block name="container"}

    <main id="mainLogin">
    <div id="connexText">
        <span>Se connecter ou</span>
        <span id="toInscription">Créer votre compte</span>
    </div>

    <form id="connexion" method="GET">
        <p class="signupInfo">Adresse email</p>
        <input class="inputLogin" type="text">
        <p class="signupInfo">Mot de passe</p>
        <input class="inputLogin" type="password">
        <input id="btnConnex" type="button" value="se connecter">
        <p id="toMdp">Oubliez votre mot de passe?</p>
    </form>
    </main>

{/block}


{block name="footer"}

{/block}