{extend name="common/base" /}

{block name="head"}
<link href="__CSS__/chat.css" rel="stylesheet" type="text/css">
<link href="__CSS__/reset.min.css" rel="stylesheet" type="text/css">
<script src="__JS__/jquery-3.4.1.min.js"></script>
{/block}


{block name="container"}

<div class="container">
        <div class="left">
            <div class="top">
                <input type="text" placeholder="Search" />
                <a href="javascript:searchPerson();" class="search"></a>
            </div>
            <ul class="people">
                {php}
                foreach ($persons as $val){

                $li = '<li class="person" data-chat=' . $val["id"] . '>';
                echo($li);

                echo('<img src="__STATIC__/img/header_user.png" alt="" />');

                echo('<span class="name">');
                    echo($val["username"]);
                echo('</span>');

                echo ('<span class="time"> 2:09 PM</span>');

                echo('<span class="preview">');
                    echo($val["description"]);
                echo('</span>');

                echo('<div class="etatDeCov">');
                echo('</div>');

                echo('</li>');
                }
                {/php}
            </ul>
        </div>

        <div class="right">
            <div class="top">
                <span>To: <span class="name">  </span></span>
                <input type="button" class="showMore" value="show more infos" onclick="showMore()">
            </div>

            <div class="write">
                <input name="message" type="text" />
                <a href="javascript:sentMessage();" class="write-link send"></a>
            </div>

        </div>

        </div>
</div>

{/block}


{block name="footer"}
<script src="__JS__/chat.js"></script>
{/block}