{extend name="common/base" /}

{block name="head"}
<script src="__JS__/jquery-3.4.1.min.js"></script>
<script src="__JS__/profile.js"></script>
{/block}

{block name="container"}

<div id="profileBody">

    <h1 class="profileTitle">Voulez modifier votre mot de passe?</h1>

    <form id="profileButtons">
        <p class="profileInfo">Votre ancient mot de passe</p>
        <input type="password" class="profileInput">
        <p class="profileInfo">Votre nouveau mot de passe</p>
        <input type="password" class="profileInput">
        <p class="profileInfo">Votre nouveau mot de passe</p>
        <input type="password" class="profileInput">
        <input type="submit" value="Sauvegarder nouveau mot de passe" class="profileBtn">
    </form>
</div>

{/block}