{extend name="common/base" /}

{block name="head"}
<script src="__JS__/jquery-3.4.1.min.js"></script>
<script src="__JS__/profile.js"></script>
{/block}

{block name="container"}
<main class="container">
<div id="profileBody">

    <h1 class="profileTitle">Bienvenue, {php}echo session("userinfo")["username"]{/php} !</h1>

    <div id="profileButtons">
        <a href="{:url('profile_description')}">
            <button class="profileBtn" name="description" onclick="showDescription();">Modifier votre description</button>
        </a>

        <a href="{:url('profile_password')}">
            <button class="profileBtn" name="modification" onclick="Modifier();">Modifier votre mot de passe</button>
        </a>

        <a href="{:url('signout')}">
            <button  class="profileBtn" name="disconnenct">Se déconnecter</button>
        </a>
    </div>
</div>
</main>
{/block}