{extend name="common/base" /}

{block name="container"}
<main class="container">
{php}
    echo '<div class="searchInfo">';
    echo '<p id="searchText">Vous avez cherché pour: ';
    echo $_POST["type"];
    echo " ";

    switch($_POST["language"]){
        case "en":
            echo "anglais";
            break;
        case "cn":
            echo "chinois";
            break;
        case "fr":
            echo "français";
            break;
        case "de":
            echo "allemand";
            break;
        case "sp":
            echo "espagnol";
            break;
        case "pt":
            echo "portugal";
            break;
        case "jp":
            echo "japonais";
            break;
        case "default":
            echo "default";
            break;
        }

    echo '</p>';
            //TODO: add search info: type and language
			//echo $facon;
			//echo " ";
			//echo $langue;
			echo "</span></caption>";
foreach($users as $val) {
    echo '<table id="searchTable">';

        echo "<tr>";
            echo '<th rowspan="2" id="nom">';
                echo $val["username"];
                echo "</th>";
            echo '<th rowspan="2">';
                    $url = "search_to_calendar?ref_id=" . $val["id"];
                    echo"<a id=\"toCalendar\" href=\"".$url.'">calendar</a>
                    session("ref_id", $val["id"]);
                    session("type", $_POST["type"]);
                    echo '<a id="toCalendar" href="search_to_calendar">calendar</a>';
                echo "</th>";
            echo '<td id="emailAdress">Adresse email: ';
                echo $val["email"];
                echo "</td>";
            echo "</tr>";
        echo "<tr>";
            echo '<td id="selfIntro">Description: ';
                echo $val["description"];
                echo "</td>";
            echo "</tr>";
        echo "</table>";

}
    echo '</div>';
{/php}
</main>
{/block}