{extend name="common/base" /}

{block name="container"}
<main class="container">
{php}
    //build a sentence to show the search information, which way and which language
    echo '<div class="searchInfo">';
    echo '<p id="searchText">Vous avez cherché pour: ';
    echo $_POST["type"];
    echo " ";

    //$_POST["language"] gives us the value, but not the text in it, get the text by switch
    switch($_POST["language"]){
        case "en":
            echo "anglais";
            break;
        case "cn":
            echo "chinois";
            break;
        case "fr":
            echo "français";
            break;
        case "de":
            echo "allemand";
            break;
        case "sp":
            echo "espagnol";
            break;
        case "pt":
            echo "portugal";
            break;
        case "jp":
            echo "japonais";
            break;
        case "default":
            echo "default";
            break;
        }

    echo '</p>';

    //if no user found, show this message
    if(empty($users)){
    echo '<p id="nonResultAlert">Aucun résultat trouvé! Veuillez essayer encore une fois avec vos préférences</p>';
    }
    //for each user, make a table : name, calendar, description, email
foreach($users as $val) {


    echo '<table id="searchTable">';

        echo "<tr>";
            echo '<th rowspan="2" id="nom">';
                echo $val["username"];
                echo "</th>";
            echo '<th rowspan="2">';
                $url = "search_to_calendar?ref_id=" . $val["id"] . "&" . "type=" . $_POST["type"];
                echo "<a id=\"toCalendar\" href=\"" . $url . '">calendar</a>';
                echo "</th>";
            echo '<td id="emailAdress">Adresse email: ';
                echo $val["email"];
                echo "</td>";
            echo "</tr>";
        echo "<tr>";
            echo '<td id="selfIntro">Description: ';
                echo $val["description"];
                echo "</td>";
            echo "</tr>";
        echo "</table>";
    }
    echo '</div>';
{/php}
</main>
{/block}