{extend name="common/base" /}

{block name="container"}

    <main id="mainLogin">
    <div id="connexText">
        <span>Se connecter ou</span>
        <span id="toInscription">Créer votre compte</span>
    </div>

    <form id="connexion" method="post" action="{:url('signin_check')}">
        <p>Adresse email</p>
        <input class="inputLogin" type="text" name="email">
        <p>Mot de passe</p>
        <input class="inputLogin" type="password" name="password">
        <input id="btnConnex" type="submit" value="se connecter">
        <p id="toMdp">Oubliez votre mot de passe?</p>
    </form>
    </main>
<!--     <div id="loginBody">-->

<!--         <h1 >Se connecter ou <a class="linkLogin" href="signin.html">Créer votre compte</a></h1>-->

<!--         <form id="loginForm">-->
<!--             Adresse email :<br />-->
<!--             <input type="text" name="login" /><br />-->
<!--             Mot de passe:<br />-->
<!--             <input type="text" name="passeword" /><br />-->
<!--             <input id="connectBtn" type="submit" name="action" value="se connecter" action=""/>-->
<!--         <br />-->
<!--             <p><a id="oublieLogin" class="linkLogin" href="">Oublie votre mot de passe?</a></p>-->
<!--         </form>-->


<!--     </div>-->

{/block}



{block name="footer"}

{/block}