{extend name="common/base" /}

{block name="container"}

<main id="mainSignup">
    <div id="signupText">
        <span>Créer votre compte et nous joindre chez ClubLangue</span>
    </div>

    <form id="createAccount" method="POST">
        <p class="signupInfo">Adresse email</p>
        <input class="inputSignup" type="text">
        <p class="signupInfo">Votre pseudo</p>
        <input class="inputSignup" type="text">
        <p class="signupInfo">Votre mot de passe</p>
        <input class="inputSignup" type="password">
        <p class="signupInfo">Confirmer votre mot de passe</p>
        <input class="inputSignup" type="password">
        <input id="btnCreate" type="button" value="créer votre compte">
    </form>
</main>

{/block}


{block name="footer"}

{/block}