{extend name="common/base" /}

{block name="container"}
<main class="container">
    <div id="mainLogin">
    <div id="connexText">
        <span>Se connecter ou</span>
        <a href="{:url('signup')}">
            <span id="toInscription">Créer votre compte</span>
        </a>
    </div>

    <form id="connexion" method="post" action="{:url('signin_check')}">
        <p class="signupInfo">Adresse email</p>
        <input class="inputCase" type="text" name="email">
        <p class="signupInfo">Mot de passe</p>
        <input class="inputCase" type="password" name="password">
        <input id="btnConnex" type="submit" value="se connecter">
        <p id="toMdp">Oubliez votre mot de passe?</p>
    </form>
    </div>
</main>
{/block}


{block name="footer"}

{/block}