<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Club Langue</title>
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css">
    <link href='__STATIC__/fullcalendar/packages/daygrid/main.css' rel='stylesheet' />

    <link href='__STATIC__/fullcalendar/packages/core/main.css' rel='stylesheet' />
    <link href='__STATIC__/fullcalendar/packages/timegrid/main.css' rel='stylesheet' />

    <script src='__STATIC__/fullcalendar/packages/daygrid/main.js'></script>
    <script src='__STATIC__/fullcalendar/packages/core/main.js'></script>
    <script src='__STATIC__/fullcalendar/packages/timegrid/main.js'></script>
    <script src="__JS__/script.js"></script>
</head>

<body>

    <header class="start">
        {include file="common/header" /}
    </header>

    <main class="container">
        {block name="container"}{/block}
    </main>

    <footer class="footer">
        {block name="footer"}{/block}
    </footer>

</body>
</html>