<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1" />
    <title>Club Langue</title>
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css">
    <script src="__JS__/script.js"></script>
    
</head>

<body>

    <header class="start">
        {include file="common/header" /}
    </header>

    <main class="container">
        {block name="container"}{/block}
    </main>

    <footer class="footer">
        {block name="footer"}{/block}
    </footer>

</body>
</html>