<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Club Langue</title>
    <link href="__CSS__/style.css" rel="stylesheet" type="text/css">
    <link href="__JS__/script.js" type="text/javascript">
</head>

<body>
<div class="wrap">
    <div class="start">
        {include file="common/header" /}
    </div>

    <div class="container">
        {block name="container"}{/block}
    </div>

    <div class="footer">
        {block name="footer"}{/block}
    </div>
</div>
</body>
</html>