
<div id="headerDivCher">
    <span class="headerSpan">vous voulez</span>
    <select class="headBtn">
        <option value="learn">apprendre</option>
        <option value="teach">enseigner</option>
    </select>
    <span class="headerSpan">pour</span>
    <select class="headBtn">
        <option value="en">anglais</option>
        <option value="cn">chinois</option>
        <option value="fr">français</option>
        <option value="de">allemand</option>
        <option value="sp">espagnol</option>
        <option value="pt">portugal</option>
        <option value="jp">japonais</option>
    </select>
    <input class="headBtn" id="btnChercher" type="button" value="chercher">
</div>

<div id="headerDivImage">
    <img class="headerImg" src="__STATIC__/images/header_user.png" alt="user">
    <img class="headerImg" src="__STATIC__/images/header_message.png" alt="message">
    <img class="headerImg" src="__STATIC__/images/header_calender.png" alt="calender">
</div>